{% extends 'base.html' %}

{% block content %}
    <center><h2>Beranda</h2></center>
    <center><h3>Hallo, selamat datang di situs Stat Zone!</h3></center>
    <h3>Apa itu Stat Zone?</h3>
    <p>Stat Zone merupakan situs pembelajaran Matematika online untuk mengulas materi tentang Statistika. Dalam situs Stat Zone, terdapat materi-materi tentang Statistika dan bank soal. Materi Statistika tediri dari berbagai sub materi dan ringkasan. Bank soal pada situs Stat Zone terdiri dari contoh soal dan latihan soal.
    </p>
    

{% endblock %}