{% extends 'base.html' %}

{% block content %}
    <center><h2>Tentang Penulis</h2></center>
    <p align="justify">Nama: Septi Alfianti</p>
    <p align="justify">Tanggal lahir: 14 September 2003</p>
    <p align="justify">Alamat rumah: Kota Tangerang, Banten</p>
    <p align="justify">Hobi: Mendengarkan musik</p>
    <p align="justify"><i class='bx bxs-envelope'></i> E-mail: <a href="mailto:2225210045@untirta.ac.id">statzone@gmail.com</a></p>
    <p align="justify"><i class='bx bxl-instagram-alt'></i> Instagram: <a href="https://instagram.com/_salfianti">@statzone</a></p>
    <p align="justify"><i class='bx bxs-phone-call'></i> Nomor telepon: (021)-234-567-89</p>
    

{% endblock %}